header {
    background-color: var(--cor-primary);
    color: var(--bg-color);

    padding: 24px 48px;
}

a.title-a {
    color: var(--bg-color);
    text-decoration: none;
}

div.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;

    border-bottom: 2px solid var(--bg-color);
}

h1.title-header {
    font-size: 32px;
    margin-bottom: 16px;
}

span.span-color {
    color: var(--cor-tertiary);
}

ul.list-link {
    display: flex;
    gap: 48px;
}

a.link-nav {
    color: var(--bg-color);
    text-decoration: none;

    font-size: 18px;
}

nav.small {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

@media (max-width: 680px) {
    header {
        padding: 24px 16px;
    }

    div.container-header {
        padding: 0 8px;
    }

    nav.small {
        display: flex;
    }

    nav.large {
        display: none;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 80px;

        border-radius: 8px;

        background-color: var(--cor-primary);

        padding: 24px;

        justify-content: center;
        text-align: center;
    }

    ul.list-link {
        flex-direction: column;
        gap: 16px;
    }
}