.oneRow{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txtSp{
    color: var(--txt-color);
    font-size: 50px;
}

.txtAuthor{
    font-size: 30px;
    text-align: right;

}


.imgWoman{
    width: 28%;
}

.twoRow{
    gap: 8vh;
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

}

.secBtn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.title{
    font-size: 64px;
    margin-left: 5%;
    margin-top: 5%;
}

h3{
    font-size: 250px;
}

button{
    width: 40%;
    height: 35vh;
    border-radius: 30px;
    border: none;
    box-shadow: 8px 8px 10px 8px #00000026;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(270deg, #001A1C7D 20%, transparent 30%);

}

.threeRow{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.whoAre{
    font-size: 30px;
}

.fourRow{
    margin-bottom: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

button:hover{
    animation: expand 2s;
}

@keyframes expand {
    from {
        background: linear-gradient(270deg, #001A1C7D 20%, transparent 30%);
    }
    to {
        background: linear-gradient(270deg, #001A1C7D 100%, transparent 30%);
    }
}

button{
    width: 40%;
    height: 35vh;
    border-radius: 30px;
    border: none;
    box-shadow: 8px 8px 10px 8px #00000026;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(270deg, #001A1C7D 20%, transparent 30%);

}