.bio{
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}
.MJ_resumo{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 5%;  
}
.imgLima{
   width: 300px;
   height: 400px;
}
.resumo_bio{
  width: 50%;
}
