.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
  margin: 10px;
  overflow: hidden;
}

.card h2 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.card p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card:nth-child(1) {
  background-color: #8bc34a; 
  color: #333;
}

.card:nth-child(2) {
  background-color: #4caf50; 
  color: #fff;
}

.card:nth-child(3) {
  background-color: #2e865f; 
  color: #fff;
}

.card:nth-child(4) {
  background-color: #34c759;
  color: #333;
}

.card:nth-child(5) {
  background-color: #1e865f; 
  color: #fff;
}

.card:nth-child(6) {
  background-color: #8bc34a; 
  color: #333;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 10px);
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 10px;
  }
}