.section-poemas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 10%;
}
.img24{
    width: 290px;
    height: 450px;
}

.card-poema{
    width: 85%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.poema-desc{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;
}

.poema{
    font-size: 25px;
}

.name{
    margin-top: 16px;
    font-size: 20px;
}

.title-poemas{
    display: flex;
    align-self: flex-start;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 30px;
    color: rgba(0, 26, 28, 1);
}


